<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/dat09_Array/src/dat09_Array/Ex01_Araay.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="dat09_Array.Ex01_Araay"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="dat09_Array"/>
</launchConfiguration>
