<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/day14_API/src/Ex02/wrapper/MainEntry.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Ex02.wrapper.MainEntry"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="9 8&#13;&#10;2&#13;&#10;5&#13;&#10;6&#13;&#10;7"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="day14_API"/>
</launchConfiguration>
